<footer class="iq-bg-dark" style="padding: 20px 0;">
    <div class="footer-top">
      <div class="container-fluid">
        <div class="row footer-standard" style="display: flex; align-items: center; justify-content: space-between;">
          
          <div class="col2" style="flex: 1; text-align: left;">
            <h6 class="footer-link-title">Follow Us:</h6>
            <ul class="info-share" style="list-style: none; padding: 0; display: flex; gap: 10px;">
              <li>
                <a href="https://www.facebook.com/">
                  <i><fa class="fa fa-facebook"></fa></i>
                </a>
              </li>
              <li>
                <a href="https://www.youtube.com/">
                  <i><fa class="fa fa-youtube"></fa></i>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/">
                  <i><fa class="fa fa-instagram"></fa></i>
                </a>
              </li>
            </ul>
          </div>
          
          <div class="col1" style="flex: 1; text-align: center;">
            <div class="widget text-left">
              <div>
                <ul class="menu p-0" style="list-style: none; padding: 0; display: inline-flex; gap: 10px;">
                  <li><a href="terms_of_use">Terms of Use</a></li>
                  <li><a href="privacy_policy">Privacy Policy</a></li>
                  <li><a href="faq">FAQ</a></li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col3" style="flex: 1; text-align: right;">
            <div class="widget text-left">
              <div class="textwidget">
                <div class="d-flex align-items-center">
                  <a href="https://play.google.com/store/apps">
                    <img src="/images/footer/01.jpg" alt="" style="transition: transform 0.3s ease; width: 100px; height: auto;" 
                         onmouseover="this.style.transform='scale(1.2)'" 
                         onmouseout="this.style.transform='scale(1)'">
                  </a>
                  <a href="https://www.apple.com/app-store/" class="ml-3" style="margin-left: 10px;">
                    <img src="/images/footer/02.jpg" alt="" style="transition: transform 0.3s ease; width: 100px; height: auto;" 
                         onmouseover="this.style.transform='scale(1.2)'" 
                         onmouseout="this.style.transform='scale(1)'">
                  </a>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </footer>